@model IEnumerable<GummiBearKingdom.Models.Category>
@{
    ViewData["Title"] = "Categories";
    ViewData["PageHead"] = "Categories";
}

@foreach(var category in Model)
{
    <div class="card card-outline-primary mb-3 text-center">
	    <div class="card-block">
		    <h4>@Html.DisplayFor(model => category.Name)</h4>
		    <footer>
                @Html.ActionLink("Edit", "Edit", new { id = category.CategoryId })
			    | @Html.ActionLink("Delete", "Delete", new { id = category.CategoryId })
			</footer>
		</div>
	</div>
}

<h6>@Html.ActionLink("Add new Category", "Create")</h6>